{% extends 'main/base.html' %} {% block title %}Update Book Details{% endblock title %}
{%load crispy_forms_tags %}
{% block body %} {% load static %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-12 mt-3">
        <h1 class="text-start fs-4">ADD BOOK DETAILS</h1>
      </div>
      <form  method="POST" action="" >
        {% csrf_token %}{{form|crispy}}
          <input type="submit" class="btn btn-success" value="Update">
            <a href="/" class="btn btn-info">Back to Home</a>
      </form>
    </div>
  </div>
</div>


{% endblock body %}